<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>resolutionList</key>
        <dict>
            <key>large</key>
            <dict>
                <key>windowFrameSize</key>
                <dict>
                    <key>width</key>
                    <real>2048</real>
                    <key>height</key>
                    <real>1536</real>
                </dict>
                <key>designResolution</key>
                <dict>
                    <key>width</key>
                    <real>2048</real>
                    <key>height</key>
                    <real>1536</real>
                </dict>
            </dict>
            <key>medium</key>
            <dict>
                <key>windowFrameSize</key>
                <dict>
                    <key>width</key>
                    <real>1024</real>
                    <key>height</key>
                    <real>768</real>
                </dict>
                <key>designResolution</key>
                <dict>
                    <key>width</key>
                    <real>1024</real>
                    <key>height</key>
                    <real>768</real>
                </dict>
            </dict>
            <key>small</key>
            <dict>
                <key>windowFrameSize</key>
                <dict>
                    <key>width</key>
                    <real>480</real>
                    <key>height</key>
                    <real>320</real>
                </dict>
                <key>designResolution</key>
                <dict>
                    <key>width</key>
                    <real>480</real>
                    <key>height</key>
                    <real>320</real>
                </dict>
            </dict>
            <key>1280x720</key>
            <dict>
                <key>windowFrameSize</key>
                <dict>
                    <key>width</key>
                    <real>1280</real>
                    <key>height</key>
                    <real>720</real>
                </dict>
                <key>designResolution</key>
                <dict>
                    <key>width</key>
                    <real>1920</real>
                    <key>height</key>
                    <real>1080</real>
                </dict>
            </dict>
            <key>1366x768</key>
            <dict>
                <key>windowFrameSize</key>
                <dict>
                    <key>width</key>
                    <real>1366</real>
                    <key>height</key>
                    <real>768</real>
                </dict>
                <key>designResolution</key>
                <dict>
                    <key>width</key>
                    <real>1920</real>
                    <key>height</key>
                    <real>1080</real>
                </dict>
            </dict>
            <key>1600x900</key>
            <dict>
                <key>windowFrameSize</key>
                <dict>
                    <key>width</key>
                    <real>1600</real>
                    <key>height</key>
                    <real>900</real>
                </dict>
                <key>designResolution</key>
                <dict>
                    <key>width</key>
                    <real>1920</real>
                    <key>height</key>
                    <real>1080</real>
                </dict>
            </dict>
            <key>1920x1080</key>
            <dict>
                <key>windowFrameSize</key>
                <dict>
                    <key>width</key>
                    <real>1920</real>
                    <key>height</key>
                    <real>1080</real>
                </dict>
                <key>designResolution</key>
                <dict>
                    <key>width</key>
                    <real>1920</real>
                    <key>height</key>
                    <real>1080</real>
                </dict>
            </dict>
        </dict>
    </dict>
</plist>
